{% extends "z/base.html" %}

{% block title %}{{ problem.title }} - Status{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Problems</h1>

    <table class="table table-hover table-striped">

        <thead>
        <tr>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">Submission ID</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">Submit Time</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">Judge Status</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">Problem ID</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">Exec.Time</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">Exec.Memory</th>
{#            <th style="width: 200px; border-color: rgb(102, 204, 255);">Code Length</th>#}
            <th style="width: 200px; border-color: rgb(102, 204, 255);">Author</th>
        </tr>
        </thead>

        <tbody>

        {% for submission in submissions %}
        <tr>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">{{ submission.id }}</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">{{ submission.create_time }}</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">
                {% if submission.state != 'done' %}
                    submission.state
                {% else %}
                    submission.verdict
                {% endif %}
                </th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">{{ problem.id }}</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">{{ submission.time_consumed }}</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">{{ submission.mem_consumed }}</th>
            <th style="width: 200px; border-color: rgb(102, 204, 255);">{{ submission.member }}</th>
        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>
</div>
{% endblock %}
